<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta required value="{{}}" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar with Sidebar</title>
  <link rel="stylesheet" href="../assets/css/addproduct.css">

</head>
<body>
  {{navbar}}
  <div class="container" style="height: 100%;">
   
    <div style="margin-top: 50px;">
      <div class="background" style="width: 100%; margin-bottom: 1px; height: 100%;">
        <div class="styled-box">
          <h3 class="box-heading">Edit Product Review</h3>
        
          <form action="./editproductreview.html" method="post" >
            <input type="text" name="id" value="{{id}} " required   hidden>

            <div class="row">
                <div class="col">
                  <label for="lastreview">Date of Last Review</label>
    
                  <input type="date"  class="form-control" name="lastreview" placeholder="Click to select" required  value="{{lastreview}}"  id="lastreview" aria-label="Date of Last Review">
                </div>
               
                <div class="col">
                  <label for="nextreview">Date of Next Review</label>
    
                  <input type="date"  class="form-control" name="nextreview" placeholder="Click to select" required  value="{{nextreview}}"  id="nextreview" aria-label="Date of Next Review">
              </div>
              </div>
              <div class="row">
                   
                <div class="col">
              <button type="submit" class="btn">Submit</button>
            </div></div>
          </form>
    </div>
    
    </div>
    
    
    <div class="background" style="width: 100%; margin-bottom: 5px; height: 100%;">
      <div class="styled-box">
        <h3 class="box-heading">Add Product Document</h3>
        <form action="./editproductdocument.html" method="post" enctype="multipart/form-data">
          <div class="row">
            <input type="text" name="id" value="{{id}} " required   hidden>

              <div class="col">
                <label for="lastreview">add pdf document</label>
    
                  <input type="file" id="pdf" class="form-control" value="" name="pdf" placeholder="click to add pdf" aria-label="document/file" accept=".pdf" 
                  >
               
              </div>
             
              
            </div>
            <div class="row">
                 
              <div class="col">
            <button type="submit" class="btn">Submit</button>
          </div></div>
        </form>
    </div>
    
    </div>
    
    <div class="background" style="width: 100%; margin-bottom: 5px; height: 100%;">
      
        <div class="styled-box">
          <h3 class="box-heading">Edit Product information</h3>
          <form action="./editproduct.html" method="post" >
            <input type="text" name="id" value="{{id}} " required   hidden>

            <div class="row">
                <div class="col">
                  <input type="text" class="form-control" required value="{{softwarename}}" name="softwarename"  placeholder="Software name" aria-label="Software name" >
                </div>
               
                <div class="col">
                  <input type="text" class="form-control" required value="{{modules}}" name="modules" placeholder="Modules" aria-label="Modules" >
              </div>
              </div>
              <div class="row">
                <div class="col">
                  <input type="text" class="form-control" required value="{{businessareas}}" name="businessareas" placeholder="Business Areas" aria-label="Business Areas" >
                </div>
                <div class="col">
                  <select required value="{{}}" name="cloud" id="Cloud" style="height: 39px;width: 100%;font-size: medium;">
                   
                          {{cloud}}
                           </select>
                </div>
              </div>
             
              <div class="row">
               
                
                <div class="col">
                  <input type="text"  class="form-control" required value="{{financialservicesclientypes}}" name="financialservicesclientypes" placeholder="Financial Services Client Types" aria-label="Financial Services Client Types" >
                </div>
                 
              </div>
             
              <div class="row">
               
                
                <div class="col">
                    <textarea type="text" required  name="description" class="form-control" placeholder="description" aria-label="description">{{description}}</textarea>
                  </div>
              </div>
              <div class="row">
               
                
                <div class="col">
                    <textarea type="text" name="additionalinformation" class="form-control" placeholder="Additional information(optional)" aria-label="Additional information">{{additionalinformation}}</textarea>
                  </div>
              </div>

              <div class="row">
                <div class="col">
                  <h3>Types of software</h3> </div>
            </div>
                
          {{softwaretype}}
              <div class="row">
               
                <div class="col">
              <button type="submit" class="btn">Submit</button>
            </div></div>
          </form>
  </div>
</div>


 



 
 


</div>
  </div>
 
</body>
</html>
