
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Business website</title>
    <link rel="stylesheet" href="../assets/css/index.css">
  </head>
  <body> 
      <!-- Landing/Index Page {Babatunde}  -->
    <section class="navigation w3-metro-light-blue w3-container">
      <button id="back-to-top" title="Go to top"><i class="fa fa-toggle-up"></i></button>
      <nav class="nav-container">
        <div class="logo w3-padding-large" style="padding: 20px;"> 
          <p>DIGITALCORP</p>
        </div>
        <div class="mobile-button">
          <span style="float: right;" >&#9776;</span>
        </div>
        <div class="links">
          <a href="#about" >ABOUT</a>-
          <a href="#consulting" >CONSULTING</a>-
          <a href="#contact" >CONTACT</a>   -
          <a href="./login.html" ><b>LOGIN</b></a>         
        </div>
        <div id="mobile-sidenav" class="mobile-links w3-sand">
          <a href="javascript:void(0)" class="closebtn w3-round" >&times;</a>
          <a href="#about" >ABOUT</a>
          <a href="#consulting" >CONSULTING</a>
          <a href="#contact" >CONTACT</a>
          <a href="./login.html" >LOGIN</a>
        </div>
      </nav>
    </section>

    <section class="hero w3-padding-large w3-container">
      <h1 style="display: inline;"><span><i class="fa fa-check-square-o"></i></span>Steer your idea in the right direction!</h1>
      <p>Reliable consultations every day</p>
      <a href="./setupregister.html" class="w3-padding-large w3-round" style="margin:10px;color: aliceblue;"><b>Create an account</b></a>
    </section>
    <section class="w3-container footer">
        <p class="w3-center logo">© 2024 - DIGITALCORP - All rights reserved</p>
      </section>
  
  
 
   </body>
</html>