<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/product.css">
    <title>Navbar with Sidebar</title>

</head>
<body>
  {{navbar}}

  <div class="container2">
    <p style="text-align:center">product Card</p>
    <div class="card">
        <div class="" style="display: flex; justify-content: space-around; " >
        <p style="text-align:center;" class="">Product</p>
        <div><a href="updatewishproduct?id={{id}}&val={{decideval}}" style="display: flex; flex-direction: column;  align-items: center;line-height: 6px;text-decoration: none;"><img src="../assets/svg/{{hearted}}" alt="" width="30px"><small  style="color: black;">{{decide}}</small></a></div>
        <!-- <div ><a href="updatewishproduct?id={{id}}&val={{decideval}}" style="display: flex; flex-direction: column;  align-items: center;line-height: 0;"><img src="../assets/svg/" alt="" width="30px"><small></small></a></div> -->
      </div>
        <div style="padding: 15px;">
        <img src="../assets/svg/software.svg" alt="John" style="width:100%;height:300px">
      <!-- <img src="data:image/png;base64, {{productimage}}" alt="Base64 Image" style="width:100%" > -->
      <!-- <img src="{{productimage}}" alt="John" style="width:100%"> -->
        <p > <span style="background-color: whitesmoke; border-radius: 5px;"><small class="title">Rated</small>:{{rate}}</span></p>
        <h2><small class="title">Product Name</small>: {{productname}}</h2>
      <p><small>Type Of Software</small>:  {{typeofsoftware}}</p>
      <p><small>Modules</small>:  {{modules}}</p>
      <p><small>Business Areas</small>:  {{businessareas}}</p>
      <p><small>Cloud Type</small>:  {{cloud}}</p>
      <p><small>Service Client Type</small>:  {{clientservice}}</p>
      <!-- <p><small>Pdf Document</small>:  <a href="./pdf.html?doc={{pid}}"  >download attchment</a></p> -->
      {{pid}}
       <p><small>Company Name</small>:  {{companyname}}</p>
       <p><small>Company Profile</small>:  <a href="./vendorprofile.html?id={{vid}}"  target="_blank">Open Profile</a></p>
      <br>
      <input type="checkbox" id="notificationcheckbox"  hidden >
     
    <p><small2>Please Rate Our Product</small2>:  <a href="#" class="dashboard-nav-link" onclick="setNotification()">Click</a></p>
      <br>
      <p><small>Website</small>:  <a href="{{Website}}"  target="_blank">{{Website}}</a></p>
      <p><small>Convert To Pdf</small>:  <a href="../uploads/product/{{productname}}.pdf"  target="_blank" >download attchment</a></p>

      <p><small>Description</small>:  {{description}}</p>
      <p><small>Last Date Reviewed</small>:  {{lastdatereviewed}}</p>
      <p><small>Next Date Review</small>:  {{nextdatereview}}</p>
      {{editbutton}}
      <!-- <p><a href="./updateproduct.html?id={{pid}}"><button>Edit</button></a></p> -->
    </div>
    </div>
    </div>
   
<div id="notifcontainer" hidden>
  <div class="" >
      <div class="colnotifc" style="text-align: center;" >
          Rate Product
      </div>
      
       <div>
         
          {{yourrate}}
       </div>
      </div>
  </div>
  
</div>
<script>
  function setNotification(){
      var remember = document.getElementById("notificationcheckbox");
  
  
      var container = document.getElementById('notifcontainer');
  
    if (remember.checked) {
      remember.removeAttribute('checked')
     
      container.setAttribute('hidden',true)
    } else {
      remember.setAttribute('checked',true)
      container.removeAttribute('hidden')
    }
  }
  </script>
   <div id="alertMessage" >
    {{alerted}}
   </div>
</body>
</html>
